body {
  margin: 0;
  overflow: hidden;
  background-color: #002b36;
  /* disable touch gestures */
  touch-action: none;
}

#rotationWrapper {
  transform: rotate(90deg);
  transform-origin: bottom left;
  position: absolute;
  top: -100vw;
  left: 0;
  height: 100vw;
  width: 100vh;
  overflow: auto;
}

#container {
  margin: 1vw;
  padding: 1vw;
}

.half {
  width: 48%;
  display: inline-block;
  text-align: center;
  margin: 1vw;
  padding: 1vw;
}

#buttons {
  position: absolute;
  z-index: 1;
}

.button,
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #fdf6e3;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: none;
  cursor: pointer;
  box-sizing: border-box; 
  background-color: transparent;
  box-sizing: border-box; 
}

#btn_p1Up, #btn_p2Up, #btn_p1Down, #btn_p2Down {
  width: 48vh;
  height: 46vw;
  color: transparent;
}

#scores {
  width: 100%;
  z-index: 2;
  margin-top: 25vw;
  margin-bottom: 25vw;

  /* click through visible div to elements behind it*/
  pointer-events: none; 
}

.score {
  font-size: 96pt;
}

#p1Score {
  color: #d33682;
}

#p2Score {
  color: #2aa198;
}

#btn_reset {
  position: absolute;
  display: block;
  padding: 1vh;
  margin: 80vw 44vh;
  width: 10vh;  
  height: 10vh;
  z-index: 4;
}
